# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Node.js
package-lock.json
yarn.lock
node_modules/

# Local PostgreSQL data
data/

# Nginx data
nginx/